<mj-hero
  css-class="hero-banner"
  height="250px"
  padding-top="75px"
  background-width="100%"
  background-height="100%"
  background-url="@Model.Image">
  <mj-hero-content >
  <mj-text align="center" color="#ffffff" padding="10px">
    <h4 style="font-family: 'Georgia'; font-weight: normal; font-style: italic; font-size: 20px; margin: 0 0 5px;">@Model.Headline</h4>
    <h1 style="font-family: Arial; font-weight: bold; font-size: 45px; line-height: 40px; text-transform: uppercase; margin: 0 0 12px;">@Model.Title</h1>
    <hr style="width: 40px; height: 5px; background: #ffffff; border: none; margin: 0 auto;" />
  </mj-text>
</mj-hero-content >
</mj-hero>
