<section class="hero-banner" style="height: 250px; background: url('@Model.Image'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="hero-content" style="text-align: center; color: #fff; padding: 100px 10px 10px;">
    <h4 style="font-family: 'Georgia'; font-weight: normal; font-style: italic; font-size: 20px; margin: 0 0 5px;">@Model.Headline</h4>
    <h1 style="font-family: Arial; font-weight: bold; font-size: 45px; line-height: 40px; text-transform: uppercase; margin: 0 0 12px;">@Model.Title</h1>
    <hr style="width: 40px; height: 5px; background: #ffffff; border: none; margin: 0 auto;" />
  </div>
</section>
