<html>
  <head>
    @Html.Sitecore().Placeholder("head")
  </head>
  <body style="background-color: #EEEEEE;">
    <div class="container">
      @Html.Sitecore().Placeholder("content")
    </div>
  </body>
</html>
